main {
  // margin-bottom: 80px;
  margin-top: 40px;
  width: 100%;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

strong {
  font-weight: bold !important;
}
