.coreg-headshot {
  width: 105px;
}
#small-signup-form {
  display: none;
}
.coreg-check {
  transform: scale(1.75);
  position: relative;
  margin-right: .5rem;
}
.newsletter-section {
  margin-top: -.5rem;
}
a.input-group-text.coreg-submit.btn.btn-primary {
  color: white;
  font-weight: 700;
}
.iframe {
  display: none
}
.email-container {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1022;
}
