.social-share {
  position: fixed;
  bottom: 0;
  display: flex;
  place-content: center;
  left: 0;
  right: 0;
  z-index: 40;

  ul {
    width: auto;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }
  li {
    display: flex;
    width: 50px;
    height: 50px;
  }

  a {
    display: grid;
    place-content: center;
    place-items: center;
    flex: 1;

    color: white;

    &[data-action="facebook"]{
      background: #4267b2;
    }
    &[data-action="twitter"]{
      background: #1da1f2;
    }
    &[data-action="reddit"]{
      background: #ff4500;
    }
    &[data-action="linkedin"]{
      background:#2867b2;
    }
    &[data-action="email"]{
      background: #333333;
    }
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 768px){
  .social-share {
    bottom: unset;
    left: unset;
    right: unset;
    place-content: unset;
    transform: translateX(-75px);
    ul {
      flex-direction: column;
      margin: 0;
    }
  }
}
