.page-title {
  font-weight: bold;
}

.border-top {
  border-top: 1px solid $lite-grey;
}

.border-bottom {
  border-bottom: 1px solid $lite-grey;
}

.headshot {
  border-radius: 100%;
}

.article-headshot {
  width: 10%;
}

.publication-source {
  color: $medium-grey;
}

.blue-link {
  color: $iu-blue;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.btn-primary {
  background-color: $iu-blue;
}
